body {
  background: rgb(34,34,170);
  background: linear-gradient(90deg, rgba(34,34,170,0.8169642857142857) 0%, rgba(0,212,255,0.7357317927170868) 100%);
}

a, a:hover, a:active, a:visited {
  color: black;
}

.layout-wrapper {
  display: flex;
  padding: 30px;
  margin: auto 5%;
  flex-wrap: wrap;
  justify-content: center;
}

.game-board {
  min-width: 560px;
  width: 560px;
  height: 560px; 
  display: flex;
  flex-wrap: wrap;
}

.game-board img {
  width: 70px;
  height: 70px;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.game-board img:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.game-wrapper .game-info {
  display: flex;
  justify-content: space-around;
}

.game-header {
  width: 100%;
  flex-wrap: wrap;
}

.game-header h1 {
  text-align: center;
}

.game-header .score {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu li {
  cursor: pointer;
  list-style-type: none;
  padding: 5px;
  font-size: 16px;
}

.back-link {
  cursor: pointer;
}

.game-footer {
  width: 100%;
}